/*This allows the body to have full width and height*/
body, html {
	height: 100%;
	width: 100%;
}
/*Image Home Page elements*/
body {
	font-family: Arial, Impact;
	/*for text style*/
	background-image: url(images/giphy.gif);
	  /*for background image*/
	  background-position: center;
	  /*centers the background*/
	  background-repeat: no-repeat;
	  /*To keep the background from repeating*/
	  background-attachment: fixed;
	  /*makes the background not move*/
	  background-size: cover;
	  /*Allows the background to cover the entire page*/
	  background-color: #52B2CF;
	  /*If the images doesn't work, this color will show while its loading*/
	  margin: 0;
	  /*removes all margins from body*/
	  display: table;
	  /*allows the .container to be centered*/
}

.container {
	display: table-cell;
	/*allows the next two style rules to work*/
	text-align: center;
	/*centers the text*/
	vertical-align: middle;
	/*aligns the .container to the middle of the page*/
}

/* :active - link as it is actively being clicked on */
/* :hover - the link hovers when mouse icon is over it */
/* :visited - shows when you already visited a link */
/* :link - the link itself*/
a:active, a:hover, a:visited, a:link {
	text-decoration: none;
	/*removes the default underline from links in this scenario*/
	color: #fff;
	/*changes font color to white*/
}

a:hover {
	font-weight: bold;
	/*makes the font bold when it hovers*/
	border: solid;
	/*border appears when mouse icon hovers over it*/
	border-color: #fff;
	/*border appears white*/
}