body {
    background-color: #ccc;
    background:url(images/robo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}
/*Seperation/Images*/
/*Style for image parallax*/
#image-1 {
  background-image: url(images/binaryb.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100.5%;
}
/*Seperation/.container*/
.container {
    width: 80%;
    margin: 0 auto;
}
/*Seperation/Header*/
header {
    padding: 20px;
    background-color: #ccc;
    background: url(images/gearsg.jpg);
    background-size: cover;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #fff;
    border: solid;
    border-color: #fff;
    max-width: 870px;
}
/*Seperation/Nav*/
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F4045;
    max-width: 918px;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/*Seperation*/
main {
    padding: 435px;
    border: solid;
    border-color: #fff;
    max-width: 42px;
    color: #fff;
}
/*Seperation*/
embed {
    position: absolute;
    left: 0.8%;
    top: 12.5%;
}
/*Seperation*/
footer {
    padding: 18px;
    background-color: #ccc;
    background: url(images/gearsg.jpg);
    background-size: cover;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #fff;
    border: solid;
    border-color: #fff;    
}